/* شكل عام */
body{
  margin:0;
  font-family:cairo;
  background:#f3f4f6;
}

/* ================= الفيديو (نص الشاشة) ================= */
.video-box{
  width:100%;
  height:50vh; /* نص الشاشة */
  overflow:hidden;
}

.video-box iframe{
  width:100%;
  height:100%;
  border:none;
}

/* ================= السوشيال ================= */
.social-icons{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:10px;
  margin:15px 0;
}

/* كل عنصر */
.social-icons a{
  display:flex;
  align-items:center;
  gap:5px;
  background:#111;
  color:#fff;
  padding:8px 12px;
  border-radius:20px;
  text-decoration:none;
  font-size:13px;
  transition:0.3s;
}

/* الأيقونات */
.social-icons img{
  width:20px;
  height:20px;
  filter:invert(100%);
}

/* hover */
.social-icons a:hover{
  background:#ff0000; /* لون يوتيوب */
  transform:scale(1.05);
}

/* ================= الخدمات ================= */
.services{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:#fff;
  padding:20px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,.1);
}

/* ================= POPUP ================= */
.popup{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  justify-content:center;
  align-items:center;
}

.popup-box{
  background:#fff;
  padding:20px;
  border-radius:15px;
  width:90%;
  max-width:350px;
  text-align:center;
}

.close{
  cursor:pointer;
  float:left;
}

/* ================= PAYMENT ================= */
.payment{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  justify-content:center;
  align-items:center;
}

.payment-box{
  background:#fff;
  padding:20px;
  border-radius:15px;
  width:90%;
  max-width:300px;
  text-align:center;
}
